.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-size));
  width: 100%;
  justify-content: center;
  gap: 1px;
}

.listContainer {
  display: flex;
  justify-content: center;
}
